img{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}
blockquote {
    margin-left: 0;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }
hr{
    height: 2px;
}
h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.established{
    font-style: italic;
}
a{
    color: black;
}
a:visited { 
    color: black; 
}
a:hover { 
    color: brown;
}
a:active { 
    color: brown; 
}
h1,figcaption,p{
    text-align: center;
}
h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}