body{
    margin: 0;
    padding: 0;
}
.tri{
    color: black;
    background-color: orange;
    font-size: 30px;
    padding-top: 1rem;
    padding-left: 30px;
    
}
.linus{
    color: orange;
    background-color: black;
    text-align: center;
    margin-top: -2.6rem;
}
p{
    position: relative;
    top: -10.7rem;
    margin-left: 14rem;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;

    
}
img{
    margin-left: 30px;
}
.maga{
    margin-top: -1rem;
}
.time{
    margin-top: 0.9rem;
    margin-right: 10rem;
}
.ero{
    position: relative;
    top: -22.4rem;
    left: -12rem;
}.ali{
    display: flex
    
}
footer{
    background-color: darkblue;
}
.sex{
    background-color: darkblue;
}